@import url('../node_modules/normalize.css/normalize.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --transform-y-def: translateY(-20px);
    --animation-duration-def: 1200ms;
    --animation-fill-mode-def: forwards;
    --animation-delay-def: 350ms;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

@font-face {
    font-family: 'Avant_Garde';
    src: url(./fonts/Avant_Garde_Gothic.ttf);
}

@font-face {
    font-family: 'Futura_Light';
    src: url(./fonts/futura\ light\ bt.ttf);
}

@font-face {
    font-family: 'Futura_Book';
    src: url(./fonts/Futura\ Book\ font.ttf);
}

@font-face {
    font-family: 'Futura_Heavy';
    src: url(./fonts/Futura\ Heavy\ font.ttf);
}

/* Content */ 

#content {
    display: flex;
    flex: auto;
}

#content.hide {
    opacity: 0;
}

/* Header & Nav */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: rgb(202, 202, 202);
    font-family: 'Avant_Garde';
    letter-spacing: 10px;
    font-size: 1.5rem;
    z-index: 1;
}

.header-container {
    display: flex;
    width: 65%;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
}

.header-title {
    margin: 0;
    padding: 10px;
    font-size: clamp(26px, 5vw, 3rem);
}

nav.desktop {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

nav button {
    font-size: 1.4rem;
    padding: 3px 10px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    background-color: inherit;
    transition: 40ms ease-in-out;
}

nav.desktop button:hover {
    border-bottom: 3px solid #000000;
}

/* Nav Mobile */

.nav-container.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(0);
    transition: 200ms ease-in-out;
    position: fixed;
}

.nav-container.mobile.active {
    transform: scale(1);
    background-color: white;
    z-index: 0;
}

nav.mobile {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

nav.mobile button {
    font-size: clamp(2rem, 8vw, 3.2rem);
}

/* Home Content */

.home-content {
    display: flex;
    height: 100%;
    flex: auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.intro h1 {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 10px 35px;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    font-family: 'Avant_Garde';
    letter-spacing: 3px;
    margin: 32px 0 10px 0;
    opacity: 0;
    transform: var(--transform-y-def);
    animation-name: intro-title;
    animation-duration: var(--animation-duration-def);
    animation-fill-mode: var(--animation-fill-mode-def);
    animation-delay: var(--animation-delay-def);
}

.home-content img {
    width: min(650px, 100%);
    padding: 20px;
}

@keyframes intro-title {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1900px) {
    .header-container {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .header-container {
        width: 95%;
    }
}

/* Menu Content */

.menu-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 3rem 0;
    row-gap: 3rem;
}

.menu-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.menu-section h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
    font-family: 'Futura_Heavy';
    letter-spacing: 2px;
}

.items-container {
    display: grid;
    gap: 3rem;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    max-width: 1400px;
    width: 80%;
    padding: 20px;
}

.items-container:has(> :nth-child(4)) {
    grid-template-rows: repeat(2, 1fr);
}

.item {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.15rem;
    row-gap: 4rem;
    font-family: 'Futura_Light';
    padding: 10px;
    justify-content: space-between;
}

.item-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.item-name {
    font-size: 1.6rem;
    font-family: 'Futura_Book';
}

.item-price {
    font-size: 1.2rem;
    transform: translateY(6px);
    padding-left: 40px;
}

.item-description {
    font-size: 1.2rem;
}

@media screen and (max-width: 490px) {
    .items-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}