@import url('../node_modules/normalize.css/normalize.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

@font-face {
    font-family: 'Avant_Garde';
    src: url(./fonts/Avant_Garde_Gothic.ttf);
}

/* Header & Nav */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: rgb(202, 202, 202);
    font-family: 'Avant_Garde';
    letter-spacing: 10px;
    font-size: 1.5rem;
}

.header-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-title {
    margin: 0;
    padding: 10px;
}

nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

nav button {
    font-size: 1.4rem;
    padding: 3px 10px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    background-color: inherit;
    transition: 40ms ease-in-out;
}

nav button:hover {
    border-bottom: 3px solid black;
}

/* Content */ 

#content {
    display: flex;
    flex: auto;
}

/* Home Content */

.home-content {
    display: flex;
    height: 100%;
    flex: auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.intro h1 {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    user-select: none;
    font-size: 3rem;
    font-family: 'Avant_Garde';
    letter-spacing: 3px;
    margin: 32px 0 10px 0;
}

.home-content img {
    width: min(650px, 100%);
    padding: 20px;
}