@import url('../node_modules/normalize.css/normalize.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --transform-y-def: translateY(-20px);
    --animation-duration-def: 1500ms;
    --animation-fill-mode-def: forwards;
    --animation-delay-def: 500ms;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

@font-face {
    font-family: 'Avant_Garde';
    src: url(./fonts/Avant_Garde_Gothic.ttf);
}

@font-face {
    font-family: 'Futura_Light';
    src: url(./fonts/futura\ light\ bt.ttf);
}

@font-face {
    font-family: 'Futura_Book';
    src: url(./fonts/Futura\ Book\ font.ttf);
}

@font-face {
    font-family: 'Futura_Heavy';
    src: url(./fonts/Futura\ Heavy\ font.ttf);
}

/* Content */ 

#content {
    display: flex;
    flex: auto;
    z-index: 0;
    transition: 500ms ease-in-out;
}

#content.hide {
    opacity: 0;
}

/* Header & Nav */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    font-family: 'Avant_Garde';
    letter-spacing: 10px;
    font-size: 1.5rem;
    z-index: 2;
}

.header-container {
    display: flex;
    width: 65%;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
}

.header-title {
    margin: 0;
    padding: 10px;
    font-size: clamp(26px, 5vw, 3rem);
}

nav.desktop {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

button {
    color: #000000;
}

nav button {
    font-size: 1.4rem;
    margin: 0 10px;
    padding: 1px 4px;
    height: fit-content;
    border: none;
    transition: 40ms ease-in-out;
    background-color: transparent;
    cursor: pointer;
}

nav.desktop button:hover,
nav button.nav-select {
    border-bottom: 3px solid #000000;
}

.nav-button {
    display: flex;
    flex-flow: column nowrap;
    border: none;
    height: fit-content;
    row-gap: 12px;
    align-self: center;
    background-color: transparent;
}

.nav-button > * {
    border: 2px solid #000000;
    min-width: 45px;
    max-height: 1px;
    flex: auto;
    transition: 300ms ease-in-out;
}

.bar-1.active {
    transform: translatey(10px) rotate(225deg);
}

.bar-2.active {
    transform: translatey(-5px) rotate(-225deg);
}

.nav-container.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    position: fixed;
    font-family: 'Avant_Garde';
    background-color: #ffffff;
    transition: opacity 500ms ease-in-out;
    opacity: 0;
}

.nav-container.mobile.active {
    opacity: 1;
    z-index: 1;
}

nav.mobile {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

.nav-container.mobile button {
    font-size: clamp(2rem, 8vw, 3.2rem);
    opacity: 0;
    transform: translateY(10px);
    transition: all 500ms ease-in-out;
    pointer-events: none;
}

.nav-container.mobile.active button {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

/* Home Content */

.home-content {
    display: flex;
    height: 100%;
    flex: auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.intro h1 {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 10px 35px;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    font-family: 'Avant_Garde';
    letter-spacing: 3px;
    margin: 32px 0 10px 0;
    opacity: 0;
    transform: var(--transform-y-def);
    animation-name: intro-title;
    animation-duration: var(--animation-duration-def);
    animation-fill-mode: var(--animation-fill-mode-def);
    animation-delay: var(--animation-delay-def);
}

.home-content img {
    width: min(650px, 100%);
    padding: 20px;
}

@keyframes intro-title {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1900px) {
    .header-container {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .header-container {
        width: 95%;
    }
}

/* Menu Content */

.menu-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 3rem 0;
    row-gap: 3rem;
}

.menu-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.menu-section h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
    font-family: 'Futura_Heavy';
    letter-spacing: 2px;
}

.items-container {
    display: grid;
    gap: 3rem;
    grid-auto-rows: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(fit-content, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    max-width: 1400px;
    width: 80%;
    padding: 20px;
}

.item {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.15rem;
    row-gap: 4rem;
    font-family: 'Futura_Light';
    padding: 10px;
    justify-content: space-between;
}

.item-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.item-name {
    font-size: 1.6rem;
    font-family: 'Futura_Book';
}

.item-price {
    font-size: 1.2rem;
    transform: translateY(6px);
    padding-left: 40px;
}

.item-description {
    font-size: 1.2rem;
}

@media screen and (max-width: 490px) {
    .items-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media screen and (max-width: 360px) {
    .items-container {
        width: 100%;
    }
}

/* About Section */

.about-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    row-gap: 1.5rem;
}

.about-container h1 {
    font-size: 3.3rem;
    font-family: 'Futura_Heavy';
    letter-spacing: 5px;
    text-align: center;
}

.regions,
.about-container .about {
    opacity: 0;
    animation-name: intro-title;
    animation-duration: var(--animation-duration-def);
    animation-fill-mode: var(--animation-fill-mode-def);
    animation-delay: 100ms;
}

.about-container .about {
    max-width: 900px;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    padding: 10px;
}

.about-container .about p {
    font-size: 1.4rem;
    max-width: 900px;
    letter-spacing: 3px;
    line-height: 1.8rem;
    font-family: 'Futura_Light';
}

.regions {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: auto;
    min-width: 100%;
}

.regions-container {
    display: flex;
    flex-flow: column nowrap;
    max-width: 450px;
    padding: 10px;
    row-gap: 2rem;
}

.regions-bar {
    display: flex;
    justify-content: space-between;
}

.regions-bar button {
    font-size: clamp(30px, 2.3rem, 5vw);
    background: transparent;
    border: none;
    font-family: 'Futura_Heavy';
    transition: 70ms ease-in-out;
    border-bottom: 3px solid #000000;
    position: relative;
}

.regions-bar button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    bottom: 0;
    right: 0;
    transform: translateY(4px);
    transition: width 500ms ease-in-out;
}

.regions-bar button.selected::after {
    width: 0;
}

.regions-bar button:hover {
    color: #9b6767;
    cursor: pointer;
}

.regions-info,
.region {
    height: 100%;
    width: 100%;
}

.regions-info {
    display: flex;
    position: relative;
    overflow-x: hidden;
}

.region {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    overflow-y: hidden;
    transition: 300ms ease-in-out;
}

.region > * {
    flex: auto;
}

.region h3 {
    font-size: 1.7rem;
    letter-spacing: 2px;
}

.region p {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.region.active {
    position: relative;
}

.location {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 7px;
    margin: 2rem 0;
    font-family: 'Futura_Light';
}

.location > * {
    white-space: pre;
    text-wrap: wrap;
    overflow-wrap: anywhere;
}